.div1{
    border-width: 5px;
    border-color: red;
    border-style: double;
    margin: 20px 50px  100px;
    padding: 10px;
}
p{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png');
    background-repeat: repeat-x;
    background-attachment: fixed,scroll;
} 
