        #p1{ 
            color:rgb(255, 123, 0);
        }
        h1{
            color:aqua;
        }
        #p2{
            color:rgb(101, 165, 42);
        }
        .p3{
            color:green;
        } 
        